.paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.headline-1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: .2rem;
}
